
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: LightBlue;
}

.header {
    position: relative;
    height: 120px;
    overflow: hidden;
}

.header h1 {
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-top:25px;
}

.header h4 {
    margin-left: 25px;
}

.animation-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    box-shadow: 0 2px 0 white;
}

.animal {
    position: absolute;
    height: 75%;
    /* 75% of original 50px height */
    width: auto;
    bottom: 2px;
    /* Align with the floor */
    opacity: 0;
    /* Initially transparent */
}

.body-container {
    position: relative;
    top: 0px;
    z-index: 2;
    /* background-color: white; */
}

.spaceLa {
    margin-left: 60px;
}

.spaceLh {
    margin-left: 30px;
}


.button-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: DarkCyan;
    height: 30px;
    width: 40%;
    border-radius: 8px;
    padding: 10px;
    z-index: 3;
}

.custom-button {
    background-color: Turquoise;
    color: #000;
    border: none;
    padding: 5px 2px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    background-color: DarkSlateGray;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}